#contact-main-container{
    padding-top: 10vh;
    display: flex;
    height: 90vh;
}

#contact-image{
    object-fit: cover;
    height: 90%;
}

#contact-image-container{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-text-container{
    margin:auto;
}

.contact-column-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
}