//Outer Containers 
#intro-main-container{
    height: 105vh;
    width: 100%;
    display: flex;
}

.intro-main-columns{
    display: flex;
    flex-direction: column;
}

//Title Text

#intro-main-desc { 
    align-self: center;
    width: 25%;
}

#intro-main-image-container {
    width: 75%;
    overflow: hidden;
}

#spacer-div{
    height: 5vh;
}

//Title Image 
#intro-image{
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

#image-float-caption-container{
    z-index: 1;
    background-color: rgba(44, 44, 44, 0.922);
    width: 30vw;
    height: auto;
    position: absolute;
    bottom: -5vh;   
    padding: 5vh;
}

h4.image-caption-text{
    font-weight: 300;
}

p.image-caption-text{
    font-size: 14px;
    font-weight: 100;
}

.image-caption-text{
    color: white;
    font-weight: 200;
    padding: 1vh;
}
