#philosophy-container {
    display: flex;
    height: 100vh;
}

#philosophy-text-container {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.200);
    padding: 5vh;
}

#philosophy-image-container {
    width: 60%;
    height: 80vh;
    min-width: 50vw;
    margin: auto;
}

#philosophy-title-text{
    padding-bottom:2vh;
}


// .side-image{
//     position: absolute;
//     width: auto;
//     height: 25%;
//     right: 5%;
//     background-color: var(--gray);
//     transition: opacity 0.1s;
// }

// #side-image-1 {
//     top: 150%;
// }


// #side-image-2 {

//     top: 193.5%;
// }

// #side-image-3{
//     top: 237%;
// }

