.philosophy-container {
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;
}

#philosophy-text-container {
  
    margin: auto;
}

.background-div{
    top: -9vh;
    left:-4vh;
    position: absolute;
    width: 180%;
    height: 200%;
    max-height: 500px;
    min-width: 250px;
    background-color: rgba(163, 163, 163, 0.267);
    z-index: 0;

}

#philosophy-image-container {
    width: 60%;
    min-width: 600px;
    height: 80vh;
    padding-left: 15vh;
    margin: auto;
}

#philosophy-title-text{
    padding-bottom:2vh;
}


.side-image{
    position: absolute;
    width: auto;
    height: 25%;
    right: 5%;
    background-color: var(--gray);
    transition: opacity 0.1s;
}

#side-image-1 {
    top: 150%;
}


#side-image-2 {

    top: 193.5%;
}

#side-image-3{
    top: 237%;
}

