.services-main-container{
    display:flex;
    height: 100vh;
}

.service-text-container{
    width: 35%;
    margin: auto;
}

#service-title-container{
    text-align: center;
}


#service-image-container{
    display: flex;
    max-width:600px;
    max-height:90vh;
    width: 100%;
    height: auto;
    margin: auto;
}


