#services-main-container{
    display:flex;
    height: 100vh;
}

#service-text-container{
    width: 40%;
    margin: auto;
    padding: 5vh;
}

#service-title-container{
    text-align: center;
    padding-bottom: 2vh;
}


#service-image-container{
    height: 60vh;
    width: 50vw;
    margin: auto;
}


